$PrimaryColor: #6c63ff;
$SuccessColor: #00bf8e;
$WarningColor: #f7c94b;
$DangerColor: #f75842;
$DangerVarient: rgba(247, 88, 66, 0.4);
$WhiteColor: #fff;
$lightColor: rgba(255, 255, 255, 0.7);
$BlackColor: #000;
$Color-bg: #1f2641;
$Color-bg1: #2e3267;
$Color-bg2: #424890;
$Container-width-lg: 76%;
$Container-width-md: 90%;
$Container-width-sm: 94%;
$Transition: all 400ms ease;